---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Images
import { Image } from "astro:assets";
import A1 from "@/images/projects/a/1.gif";
const projects = [
  {
    year: "2023",
    title: "TOST",
    technology: "Next.js. Prisma, Railway",
    description: `This web application is designed to streamline and simplify the management of restaurant operations, providing an all-in-one solution for daily tasks. With an intuitive interface and powerful features, it caters to restaurant owners, managers, and staff.`,
    images: [], // No images for this project
    link: "https://github.com/ahmadfahrezi81/Tost", // Placeholder link
  },
  {
    year: "2023",
    title: "IDFEST 2023",
    technology: "Adobe Photoshop, Figma, Adobe Premiere Pro",
    description: `This project was dedicated to creating posters and media designs for Indonesian Festival 2023 (IDFEST 2023), a grand celebration showcasing the timeless richness of Indonesian culture. The event featured captivating performances by talented Indonesian students, offering audiences a vibrant glimpse into Indonesia’s diverse heritage.`,
    images: [
      {
        src: "https://g8p7b7sjok.ufs.sh/f/Zqh06b1WVmYE53k86a9wGiEbaSu1rWKeAoU7DXpBtgzVjQdy",
        alt: "Helvetica Project Image 1",
      },
      {
        src: "https://g8p7b7sjok.ufs.sh/f/Zqh06b1WVmYE16epE1vE1GCF74jpXOfZSNDsQW0tyw26rKJa",
        alt: "Helvetica Project Image 1",
      },
    ],
    link: "https://www.instagram.com/idfest2024/", // Placeholder link
  },
  {
    year: "2025",
    title: "UniYearbook",
    technology: "Next.js, Pusher.JS, Supabase",
    description: `A web application that delivers an online yearbook solution to university students. The project aims to analyze recent yearbook features to identify current trends, develop a digital yearbook for university students with proposed features, and provide a platform for students to reconnect with one another through the digital yearbook. `,
    images: [
      {
        src: "https://g8p7b7sjok.ufs.sh/f/Zqh06b1WVmYEyyfen93eMU1o8Oqwfrl0FhYuK7jJG3HzQcRN",
        alt: "Helvetica Project Image 1",
      },
      {
        src: "https://g8p7b7sjok.ufs.sh/f/Zqh06b1WVmYEvbBbgtatyCs9dqXpwb2gBzroceDG8J5iI0Nf",
        alt: "Helvetica Project Image 1",
      },
      {
        src: "https://g8p7b7sjok.ufs.sh/f/Zqh06b1WVmYEZ4yGSW1WVmYEdxSTCuwzgK7Br4oJXvyG5hiL",
        alt: "Helvetica Project Image 1",
      },
    ], // No images for this project
    link: "https://github.com/jackdafox/uniyearbook-fyp", // Placeholder link
  },
  {
    year: "2024",
    title: "Time Tracker",
    technology: "Next.js, Prisma, Tailwind CSS",
    description: `The Time Tracker App is designed to help users effortlessly manage their tasks and time. It allows users to create and name tasks they wanted to track, providing a straightforward way to organize their work.`,
    images: [],
    link: "https://github.com/jackdafox/time-tracker", // Placeholder link
  },
  {
    year: "2024",
    title: "Spotify Phising Experiment",
    technology: "Next.js, Tailwind CSS, Supabase",
    description: `As part of the WIX3008: Multimedia Forensics and Security course, this app is designed to simulate a realistic phishing attack targeting Spotify users. Students will analyze the techniques used to craft deceptive phishing emails and websites, aiming to mimic legitimate Spotify communication.`,
    images: [
      {
        src: "https://g8p7b7sjok.ufs.sh/f/Zqh06b1WVmYEahb03htYtkqvZKPX2V4GpcoLzA0ChrIOQ1nB",
        alt: "Helvetica Project Image 1",
      },
    ],
    link: "https://github.com/jackdafox/spotify-phising-test", // Placeholder link
  },
  {
    year: "2023",
    title: "Inventory Management System",
    technology: "Python, Django, MySQL",
    description: `This inventory management system, built using Django, is designed to streamline the process of tracking and managing inventory for small businesses or personal projects. `,
    images: [],
    link: "https://github.com/jackdafox/Inventory-Management-System", // Placeholder link
  },
  {
    year: "2023",
    title: "PPI-UM Website",
    technology: "WordPress, Elementor, CSS",
    description: `The official website of PPI Universiti Malaya (Persatuan Pelajar Indonesia Universiti Malaya) serves as a comprehensive platform for Indonesian students studying at Universiti Malaya. It highlights the organization’s mission to support and unite Indonesian students while celebrating their cultural heritage. `,
    images: [],
    link: "https://ppiunimalaya.id/", // Placeholder link
  },
];

const sortedProjects = projects.sort(
  (a, b) => parseInt(b.year) - parseInt(a.year)
);
---

<section>
  <Wrapper variant="base">
    <Text
      tag="h3"
      variant="displayLG"
      class="font-semibold text-zinc-900 dark:text-zinc-200"
    >
      Projects
    </Text>
    {
      sortedProjects.map((project) => (
        <div class="grid grid-cols-1 mt-7 lg:mt-12 gap-4 md:grid-cols-2 lg:grid-cols-5">
          {/* Year */}
          <Text tag="span" variant="textSM" class="font-medium text-zinc-500">
            {project.year}
          </Text>

          {/* Project Content */}
          <div class="lg:col-span-4">
            <a href={project.link}>
              <Text
                tag="h4"
                variant="textBase"
                class="font-semibold text-zinc-900 dark:text-zinc-200  flex justify-between w-full"
              >
                {project.title} ↗
              </Text>
            </a>
            <Text
              tag="p"
              variant="textSM"
              class="text-zinc-600 dark:text-zinc-400 font-semibold mt-2"
            >
              {project.technology}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="text-zinc-600 dark:text-zinc-500  mt-2"
            >
              {project.description}
            </Text>

            {/* Images */}
            <div class="flex flex-wrap gap-2 mt-4">
              {project.images.map((image, index) => (
                <Image
                  src={image.src}
                  alt={image.alt}
                  width="1000"
                  height="1000"
                  class="w-32 shadow rounded object-cover"
                  style={{ overflowClipMargin: "unset" }}
                />
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </Wrapper>
</section>
