---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Data
const work = [
  {
    period: "2024",
    title: "POERNAMA FEST",
    description: `Poernama Fest celebrates Indonesian and Malaysian music, highlighting their rich cultural heritage. The festival showcases Pop
Nusantara, a combination of modern and traditional music that captivates attendees.`,
    role: "Designer",
    link: "https://www.instagram.com/poernamafest/", // Placeholder link
  },
  {
    period: "2023",
    title: "IDFEST",
    description: `Indonesian Festival 2023, also known as IDFEST 2023, is a grand showcase of the timeless richness of Indonesian culture, featuring
captivating performances by Indonesian students.`,
    role: "Head of Design",
    link: "https://www.instagram.com/idfest2024/", // Placeholder link
  },
  {
    period: "2022–2023",
    title: "PPI Universiti Malaya",
    description: `An organization dedicated to fostering a meaningful and supportive community for Indonesian students pursuing their studies at Universiti
Malaya. PPI-UM organizes diverse programs and activities to enhance student engagement, build connections, and support academic
and personal growth.`,
    role: "Deputy Head of Media and Communication Division",
    link: "https://www.instagram.com/ppiunimalaya/", // Placeholder link
  },
];
---

<section>
  <Wrapper variant="base" class="py-12">
    <Text
      tag="h3"
      variant="textBase"
      class="font-semibold text-zinc-900 dark:text-zinc-200"
    >
      Experiences
    </Text>

    <div class="flex flex-col gap-12 mt-8">
      {
        work.map((work, index) => (
          <div class="grid grid-cols-1  gap-4 md:grid-cols-2 lg:grid-cols-5">
            {/* Period */}
            <Text tag="span" variant="textSM" class="font-medium text-zinc-500">
              {work.period}
            </Text>

            {/* Work Content */}
            <div class="lg:col-span-4">
              <a href={work.link}>
                <Text
                  tag="h4"
                  variant="textBase"
                  class="font-semibold text-zinc-900 dark:text-zinc-200  flex justify-between w-full"
                >
                  {work.title} ↗
                </Text>
              </a>
              <Text
                tag="p"
                variant="textSM"
                class="text-zinc-600 dark:text-zinc-500  mt-2"
              >
                {work.description}
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class="text-zinc-600 dark:text-zinc-500  mt-2"
              >
                {work.role}
              </Text>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
